#indexSidebar {
  position: absolute;
  z-index: 10;
  top: 5rem;
  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;

  transform: translateX(-11rem);
  color: var(--color2);
  background-color: var(--color3);
  transition: all 500ms linear;

  & p {
    font-size: var(--size5);
  }
}

#indexSidebar::after {
  content: "⨠";
  position: absolute;
  top: 0.1px;
  right: -3.9rem;

  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color2);
  background-color: inherit;
  border-radius: 0 25px 25px 0;
}

.moveSidebar {
  transform: translateX(0) !important;
}

.moveSidebar::after {
  rotate: 180 !important;
}
