@import url("./defaults.css");

.hero {
  position: relative;
  height: 200vh;
  width: 100%;
  z-index: 1;
  display: grid;
  /* grid-template: 2rem 10rem 30rem 30rem auto / repeat(5, 1fr); */
  grid-template-rows: 2rem 10rem 30rem 30rem 10rem;
  grid-template-areas:
    ". . . . ."
    ". . . . a"
    ". . . . b"
    "f . d . c"
    ". . . . ."
    "e e e e e";
  grid-gap: 1rem;

  background-image: url("./media/icons/owl-big-trans-20.png");
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  & .tagline {
    grid-area: f;

    & p {
      font-size: var(--size9);
      margin: 0;
      line-height: 1;
      text-shadow: var(--shadow2);
    }
  }

  .owl {
    grid-area: d;
    opacity: 0;
  }

  & div:nth-child(4) {
    grid-area: c;

    width: 300px;
    height: 300px;
    background-image: url("./media/icons/card-graphic.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .observe {
    grid-area: b;

    width: 50%;
    height: 50%;

    background-color: burlywood;

    transform: translate(8rem, 1rem);
    transition: all 2500ms ease;
  }

  .move {
    transform: translate(0, 0);
  }
}

.inventory {
  position: relative;
  z-index: 2;
}
