@import url("./defaults.css");

.hero {
  width: 100%;
  z-index: 1;

  display: grid;
  padding-top: 10rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60svh 30rem 30rem 10rem;
  grid-template-areas:
    ". a f b ."
    "d d d d d"
    ". . . . ."
    ". g g g ."
    ". g g g ."
    ". g g g ."
    "e e e e e"
    "h h h h h"
    "i i i i i";
  grid-gap: 0.5rem;
  place-items: center;

  background-image: url("./media/icons/owl-big-trans-20.png");
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  & .tagline {
    grid-area: f;
    position: relative;

    & p {
      margin: 0;
      line-height: 1;
      font-size: var(--headline3);
      color: var(--black);
    }

    & .braceLeft,
    & .braceRight {
      color: red;
      height: 15rem;
      width: 5rem;
      display: inline;
      font-size: var(--size9);
      font-family: var(--font3);
      /* transform: translateX(-2rem); */
      background-color: orange;
    }

    &::after {
      grid-area: a;
      rotate: 180deg;
    }
  }

  .owl {
    grid-area: d;
    position: relative;
    z-index: 9;
    opacity: 0;
  }

  .observe {
    grid-area: e;

    width: 30rem;
    height: 10rem;

    transform: translate(8rem, 1rem);
    transition: all 2500ms ease;

    text-align: center;
    font-size: var(--headline1);
  }

  & div[aria-label="about us"] {
    grid-area: g;

    height: max-content;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 2.5rem;
    color: var(--grey1);
    font-family: var(--font3);
    font-size: var(--size5);
    box-shadow: var(--shadow1);
    border-radius: var(--radius1);
    border: 1px solid var(--grey4);
    background-color: var(--color3);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .inventory {
    margin-top: 20rem;
    grid-area: h;
  }
}
