@import url("./defaults.css");

.hero {
  position: relative;
  /* min-height: 200vh; */
  width: 100%;
  z-index: 1;

  display: grid;
  padding-top: 10rem;
  grid-template-rows: 50vh 30rem 30rem 10rem;
  grid-template-areas:
    ". a f b ."
    "d d d d d"
    ". . . . ."
    ". . g . c"
    ". . g . ."
    ". . g . ."
    "e e e e e";
  grid-gap: 0.5rem;
  place-items: center;

  background-image: url("./media/icons/owl-big-trans-20.png");
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  & .tagline {
    grid-area: f;
    position: relative;

    & p {
      margin: 0;
      line-height: 1;
      color: var(--black);
      font-size: var(--size9);
    }

    & .braceLeft,
    & .braceRight {
      color: red;
      height: 15rem;
      width: 5rem;
      display: inline;
      font-size: var(--size9);
      font-family: var(--font3);
      transform: translateX(-2rem);
      background-color: orange;
    }

    &::after {
      grid-area: a;
      rotate: 180deg;
    }
  }

  .owl {
    grid-area: d;
    opacity: 0;
    z-index: 2;
  }

  .observe {
    grid-area: e;

    width: 30rem;
    height: 10rem;

    background-color: red;

    transform: translate(8rem, 1rem);
    transition: all 2500ms ease;
  }

  & div[aria-label="about us"] {
    grid-area: g;
    height: 25rem;
    width: 30rem;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 2.5rem 1.5rem;
    box-shadow: var(--shadow1);
    color: var(--grey4);
    font-family: var(--font3);
    font-size: var(--size5);
    border: 1px solid var(--grey4);
    background-color: var(--color1);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.inventory {
  position: relative;
  z-index: 2;
}
