.floatbarContainer {
  position: fixed;
  inset: auto 0 -14rem auto;
  z-index: 5;

  padding: 1rem;

  width: min-content;
  overflow: hidden;
  height: 17rem;

  color: var(--accent1);
  backdrop-filter: blur(15px);
  background-color: #fff5;
  box-shadow: var(--shadow4);
  font-size: var(--size3);
  outline: 1px solid var(--color2);
  border-radius: 1.5rem 0 0 0;

  cursor: pointer;
  user-select: none;
  transition: transform 1000ms;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & img {
    width: 3rem;
    margin-bottom: 0.75rem;
  }
}

.floatbarContainer:hover,
.floatbarContainer:focus {
  transform: translateY(-12rem);
  box-shadow: var(--shadow5);
}
