.floatbarContainer {
  position: fixed;
  inset: auto 0 -8rem auto;
  z-index: 3;

  padding: 1rem 2rem;

  width: min-content;
  height: 14rem;

  color: var(--color4);
  box-shadow: var(--shadow4);
  background-color: var(--color2);
  border-radius: 1.5rem 0 0 0;

  cursor: pointer;
  user-select: none;
  transition: all 1500ms ease;
}

.floatbarContainer ul {
  display: flex;
  justify-content: space-evenly;
}

.floatbarContainer ul li {
  font-size: 2rem;
}

.floatbarContainer:hover {
  transform: translateY(-8rem);
  box-shadow: var(--shadow5);
}
