#cardCatalogue {
  position: relative;
  width: 85%;
  margin-left: 7rem;
  margin-bottom: 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  place-content: center;
  gap: 1rem;
}

.cardItem {
  position: relative;
  padding: 0.75rem;
  overflow: hidden;

  min-height: 25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: var(--radius1);
  box-shadow: var(--shadow3);
}

.cardItem > img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  height: 100%;
  object-fit: cover;
  transition: all 2s ease;
  transition-delay: 500ms;
}

.cardItem > img:hover {
  scale: 1.25;
}

.cardItem > p {
  color: var(--black);
  text-shadow: var(--outline1);
}

.saleItem {
  position: absolute;
  top: 0.5rem;
  right: -5rem;
  z-index: 2;

  padding: 1.5rem 3.5rem;
  width: 300px;
  rotate: 45deg;

  text-align: center;
  font-size: var(--size5);
  font-weight: bold;
  font-family: "caviar";
  color: var(--color2);
  background-color: var(--accent1);
}

.itemCardName {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  place-items: center;

  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--black);
  border-radius: var(--radius1);
  text-shadow: var(--shadow3);
  backdrop-filter: blur(15px);
  background-color: #fff3;
  box-shadow: var(--shadow3);
}

.itemPrice {
  z-index: 2;
  margin: 0.2em 0;
  font-size: var(--size6);
}

.itemStyle {
  font-size: 1rem;
  margin: 0;
}

.itemName,
.itemMaterial {
  margin: 0;
  font-size: var(--size5);
  font-family: var(--font3);
}

.highlight {
  padding: 0.25rem 0.5rem;
  color: var(--grey4);
  text-shadow: var(--shadow6);
  border-radius: var(--radius2);
}

.itemMaterial {
  font-size: var(--size3);
  font-family: var(--font1);
}

.Royal,
.Princess,
.Bossman,
.Monster,
.Chief,
.Barbie {
  grid-column-end: span 2;
}

.Royal img,
.Princess img,
.Bossman img,
.Monster img,
.Chief img,
.Barbie img {
  width: 100%;
}
