@import url("../../styles.css");

.questionContainer {
  display: grid;
  place-content: center;

  margin: 10rem auto 1rem;
  width: 80vw;
  min-height: 100svh;

  & h1 {
    text-align: center;
    font-size: var(--size9);
  }
}

#FAQ {
  margin: 5rem 2rem;

  & div p:nth-child(1) {
    margin: 0.2em 0;

    color: var(--color2);
    font-size: var(--size6);
    font-family: var(--font3);
  }

  & div p:nth-child(2) {
    margin: 0;
    padding: 1rem;

    background-color: var(--color2);
    color: var(--color3);
    font-size: var(--size4);
    font-family: var(--font1);
  }
}
