select[class="rate"] {
  border: 1px solid var(--grey1);
  height: 4rem;
  width: 15rem;
}

.stars {
  height: 4rem;
  width: calc(var(--customer-rating, 0) * 5rem);

  background-color: red;
  background-image: url("../../media/stars/starPointyYellow.svg");
  background-repeat: space no-repeat;
  background-size: 4rem;
}
