#footer {
  width: 100vw;
  height: max-content;
  padding-bottom: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-template-rows: max-content;
  place-content: center;

  background-size: 4rem;
  background-color: #000;
  background-repeat: repeat-y space;
  background-image: url("../../media/footerpattern.png"),
    radial-gradient(ellipse, #252422 0%, #333333 15%, #252422 70%);

  & > div {
    height: 100%;
    width: 100%;

    padding: 2rem;

    & p {
      margin: 0;

      color: var(--grey3);
      font-size: var(--size6);
      font-weight: bold;
    }

    & ul {
      margin: 0;
      padding: 0;
    }

    & a {
      margin: 1rem 0.5rem;
      color: var(--grey2);
      font-size: var(--size4);
      transition: all 500ms ease;
    }

    & a:hover,
    & a:focus {
      color: var(--accent1);
      text-decoration: underline;
    }
  }
}

.footerSocials {
  color: #eee;
}
