@import url("../../styles.css");

#blogSection {
  padding: 10rem 2rem 5rem;
}

#blogSection div p:first-child {
  margin: 2rem 0 0 0;

  color: var(--color2);
  font-size: var(--size7);
}

#blogSection div p:last-child {
  margin: 1rem 0 0 0;
  padding: 0;

  color: var(--color3);
  font-size: var(--size4);
  line-height: 1.5;
}
