#nav {
  position: relative;
}

.desktopNavbar {
  position: absolute;
  top: 1rem;
  right: 10%;
  z-index: 5;

  display: flex;
  justify-content: space-evenly;

  /* font-variant: small-caps; */
}

.desktopNavbar a {
  padding: 0 1rem;
  color: var(--color2);
  font-size: var(--size7);
  transition: color 250ms;
  mix-blend-mode: color-burn;
}

.desktopNavbar a:hover {
  color: var(--accent1);
}
