#nav {
  position: sticky;
  top: 1rem;
  z-index: 5;

  margin: 2rem 0;
  grid-area: a;
}

.desktopNavbar {
  right: 10%;

  width: max-content;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-evenly;

  font-variant: small-caps;
  border-radius: 50px;
  box-shadow: inset 0 0 5px var(--color2), var(--shadow2);
  backdrop-filter: blur(15px);
}

.desktopNavbar a {
  padding: 0 1rem;
  color: var(--color2);
  font-size: var(--size7);
  transition: color 250ms;
  mix-blend-mode: color-burn;
}

.desktopNavbar a:hover {
  color: var(--accent1);
}
