.desktopNavbar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  width: 100vw;
  padding: 0.5rem;

  display: flex;
  justify-content: flex-end;

  font-variant: small-caps;
  background-color: var(--color4);
  box-shadow: var(--shadow1);
  backdrop-filter: blur(15px);

  transition: all 500ms;
  overflow: hidden;
}

.desktopNavbar a {
  padding: 0 1rem;
  color: var(--color2);
  font-size: var(--size5);
  transition: color 500ms;
  mix-blend-mode: hard-light;
}

.desktopNavbar a:hover {
  color: var(--accent1);
}

#nav:has(.crunch) > .desktopNavbar {
  padding: 4rem 2rem;
  background-color: transparent;
  justify-content: space-evenly;
}

#nav:has(.crunch) > .desktopNavbar a {
  font-size: var(--size7);
  color: var(--color4);
}
