.elementDefault {
  display: contents;
}

.reuseableButton {
  background-color: var(--color5);
  color: var(--color2);
  padding: 1rem 2rem;
  text-decoration: none;
}

.callToAction {
  padding: 1rem 2rem;
  aspect-ratio: 3/1;
  outline: none;
  border: none;
  border-radius: 2rem;
  background-color: var(--color3);
  color: var(--color5);
  text-shadow: var(--shadow1);
  font-size: var(--size4);
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1rem;
  padding: 1rem;

  width: 5rem;
  height: 1rem;

  border-radius: 25px;
  background-color: var(--white);
  box-shadow: inset 1px 1px 5px var(--color3);
  cursor: pointer;

  transition: all 1500ms ease;

  & > span {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;
    background-color: var(--color3);
    box-shadow: 1px 1px 5px var(--color3);
  }
}

.true {
  background-color: var(--grey1);
  justify-content: right;
  box-shadow: inset 0 0 5px var(--color3);
}
